In [1]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\harsh\appdata\local\programs\python\python311\lib\site-packages (2.0.32)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\harsh\appdata\local\programs\python\python311\lib\site-packages (from SQLAlchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\harsh\appdata\local\programs\python\python311\lib\site-packages (from SQLAlchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import json
from sqlalchemy import create_engine

In [2]:
# Open the JSON file with the correct encoding
with open('yelp_academic_dataset_business.json', 'r', encoding='utf-8') as f:
    business_data = [json.loads(line) for line in f]

# Convert the list of dictionaries to a DataFrame
business_df = pd.DataFrame(business_data)

print(business_df.shape)

(150346, 14)

In [3]:
# # Open the JSON file with the correct encoding
# with open('yelp_academic_dataset_checkin.json', 'r', encoding='utf-8') as f:
#     checkin_data = [json.loads(line) for line in f]

# # Convert the list of dictionaries to a DataFrame
# checkin_df = pd.DataFrame(checkin_data)

# print(checkin_df.shape)



import json
import pandas as pd

# Function to process and convert a chunk of JSON data to a DataFrame
def process_chunk(chunk):
    return pd.DataFrame(chunk)

# Initialize an empty DataFrame to store checkin data
checkin_df = pd.DataFrame()

# Define chunk size
chunk_size = 10000  # Adjust this based on your memory capacity
chunk = []

# Open and read the JSON file in chunks
with open('yelp_academic_dataset_checkin.json', 'r', encoding='utf-8') as f:
    for i, line in enumerate(f):
        chunk.append(json.loads(line))
        
        if (i + 1) % chunk_size == 0:
            # Process and append the chunk to the DataFrame
            checkin_df = pd.concat([checkin_df, process_chunk(chunk)], ignore_index=True)
            chunk = []  # Reset chunk
    
    # Process the last chunk if it exists
    if chunk:
        checkin_df = pd.concat([checkin_df, process_chunk(chunk)], ignore_index=True)

print('Checkin DataFrame Shape:', checkin_df.shape)

Checkin DataFrame Shape: (131930, 2)

In [4]:
# with open('yelp_academic_dataset_review.json', 'r', encoding='utf-8') as f:
#     review_data = [json.loads(line) for line in f]

# # Convert the list of dictionaries to a DataFrame
# review_df = pd.DataFrame(review_data)


# print(review_df.shape)


# print(tip_df.shape)
import json
import pandas as pd

# Function to process and convert a chunk of JSON data to a DataFrame
def process_chunk(chunk):
    return pd.DataFrame(chunk)

# Initialize an empty DataFrame to store review data
review_df = pd.DataFrame()

# Define chunk size and the maximum number of rows to read
chunk_size = 10000  # Adjust this based on your memory capacity
max_rows = 3495140  # Half of 6,990,280
chunk = []
rows_read = 0

# Open and read the JSON file in chunks
with open('yelp_academic_dataset_review.json', 'r', encoding='utf-8') as f:
    for i, line in enumerate(f):
        chunk.append(json.loads(line))
        rows_read += 1
        
        if rows_read >= max_rows:
            # Process and append the chunk to the DataFrame
            review_df = pd.concat([review_df, process_chunk(chunk)], ignore_index=True)
            break  # Stop reading once we've reached the maximum number of rows
        
        if len(chunk) >= chunk_size:
            # Process and append the chunk to the DataFrame
            review_df = pd.concat([review_df, process_chunk(chunk)], ignore_index=True)
            chunk = []  # Reset chunk

    # Process any remaining data if rows_read is less than max_rows
    if chunk and rows_read < max_rows:
        review_df = pd.concat([review_df, process_chunk(chunk)], ignore_index=True)

print('Review DataFrame Shape:', review_df.shape)

Review DataFrame Shape: (3495140, 9)

In [5]:
review_df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [6]:
import json
import pandas as pd

# Function to process and convert a chunk of JSON data to a DataFrame
def process_chunk(chunk):
    return pd.DataFrame(chunk)

# Initialize an empty DataFrame to store tip data
tip_df = pd.DataFrame()

# Define chunk size
chunk_size = 10000  # Adjust this based on your memory capacity
chunk = []

# Open and read the JSON file in chunks
with open('yelp_academic_dataset_tip.json', 'r', encoding='utf-8') as f:
    for i, line in enumerate(f):
        chunk.append(json.loads(line))
        
        if (i + 1) % chunk_size == 0:
            # Process and append the chunk to the DataFrame
            tip_df = pd.concat([tip_df, process_chunk(chunk)], ignore_index=True)
            chunk = []  # Reset chunk
    
    # Process the last chunk if it exists
    if chunk:
        tip_df = pd.concat([tip_df, process_chunk(chunk)], ignore_index=True)

print('Tip DataFrame Shape:', tip_df.shape)

Tip DataFrame Shape: (908915, 5)

In [7]:
import json
import pandas as pd

# Function to process and convert a chunk of JSON data to a DataFrame
def process_chunk(chunk):
    return pd.DataFrame(chunk)

# Initialize an empty DataFrame to store review data
user_df = pd.DataFrame()

# Define chunk size and the maximum number of rows to read
chunk_size = 10000  # Adjust this based on your memory capacity
max_rows = 993949  # Half of 1,987,897
chunk = []
rows_read = 0

# Open and read the JSON file in chunks
with open('yelp_academic_dataset_user.json', 'r', encoding='utf-8') as f:  # Make sure to use the correct file
    for i, line in enumerate(f):
        chunk.append(json.loads(line))
        rows_read += 1
        
        if rows_read >= max_rows:
            # Process and append the chunk to the DataFrame
            user_df = pd.concat([user_df, process_chunk(chunk)], ignore_index=True)
            break  # Stop reading once we've reached the maximum number of rows
        
        if len(chunk) >= chunk_size:
            user_df = pd.concat([user_df, process_chunk(chunk)], ignore_index=True)
            chunk = []  # Reset chunk

    # Process any remaining data if rows_read is less than max_rows
    if chunk and rows_read < max_rows:
        user_df = pd.concat([user_df, process_chunk(chunk)], ignore_index=True)

print('Review DataFrame Shape:', user_df.shape)

Review DataFrame Shape: (993949, 22)

In [8]:
user_df.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [9]:
print(business_df.shape)
print(checkin_df.shape)
print(review_df.shape)
print(tip_df.shape)
print(user_df.shape)

(150346, 14)
(131930, 2)
(3495140, 9)
(908915, 5)
(993949, 22)

In [10]:
business_df.drop(['attributes','hours'],axis=1,inplace=True)

In [11]:
print(business_df.shape)
print(checkin_df.shape)
print(review_df.shape)
print(tip_df.shape)
print(user_df.shape)

(150346, 12)
(131930, 2)
(3495140, 9)
(908915, 5)
(993949, 22)

In [12]:
# Create an engine that connects to a SQLite database named 'yelp.db'
engine = create_engine('sqlite:///yelp_21.db')

def load_dataframe(df, table_name, engine):
    df.to_sql(table_name, con=engine, if_exists='replace', index=False)


load_dataframe(business_df,'business',engine)  
load_dataframe(checkin_df,'checkin',engine) 
load_dataframe(review_df,'review',engine) 
load_dataframe(tip_df,'tip',engine) 
load_dataframe(user_df,'user',engine)